{% extends 'layout.html'%}
{% block title%} Bloggy - Only for curious people{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center p-5">
            <ul class="list-group d-flex flex-row">
                <a href="" class="list-group-item mx-2 text-decoration-none text-secondary">Gaming</a>
                <a href="" class="list-group-item mx-2 text-decoration-none text-secondary">Coding</a>
                <a href="" class="list-group-item mx-2 text-decoration-none text-secondary">Technology</a>
                <a href="" class="list-group-item mx-2 text-decoration-none text-secondary">Science</a>
                <a href="" class="list-group-item mx-2 text-decoration-none text-secondary">Sports</a>
              </ul>
    </div>
{% endblock %}