{% extends 'layout.html' %}
{% block title %}Bloggy - Register{% endblock %}
{% block body %}
<div class="container d-flex justify-content-center align-items-center">
  <form>
    <div class="mb-3">
      <label for="exampleInputUsername" class="form-label">Username</label>
      <input type="text" class="form-control" id="exampleInputUsername" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" >Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" required aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your data with anyone else.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}